.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Newly added code */

.navContainer {
  padding: 20px;
}

.cvContainer {
  padding-bottom: 50px;
}

.contactContainer {
  width: 40%;
}

.skillsContainer {
  padding: 30px 10%;
  background-color: lightcyan;
}

.skillsContainer h1 {
  text-align: center;
}

.skillsContainer div {
  padding: 10px;
  text-align: center;
}

.educationContainer {
  padding: 20px;
}

.leftgrid {
  padding-left: 15%;
}

.rightgrid {
  padding-right: 15%;
  font-weight: ;
}